.row-header {
    margin: 0px auto;
    padding: 0px auto;
    height: 500px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 300px; 
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    /*background-color: #3b3e40;*/
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: black;
}

.jumbotron h4 {
    font-weight: bolder;
}

.jumbotron p {
    font-weight: bolder;
    font-size: larger;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0; 
    /*font-family: Algerian;*/
    font-family: 'Indie Flower', cursive;
}

.navbar-light {
    background-color: white;
}

.navbar-nav li a {
    color: black;
    font-weight: bolder;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.text-responsive {
    font-size: calc(150% + 1vw + 1vh);
}